[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = {version = "*"}
chardet = {version = "*"}
idna = {version = "*"}
requests = {version = "*"}
urllib3 = {version = ">=1.24.2"}
xlwt = {version = "*"}
PyYAML = {version = ">=4.2b"}

[requires]
python_version = "3.7"
